version: '3.8'

services:
  postgres:
    image: postgres:18
    container_name: spysko-postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: spysko
    volumes:
      - pgdata:/var/lib/postgresql

  redis:
    image: redis:7-alpine
    container_name: spysko-redis
    restart: unless-stopped
    ports:
      - '6379:6379'
    volumes:
      - redisdata:/data

volumes:
  pgdata:
  redisdata:
