version: '3.8'

services:
  postgres:
    image: postgres:18
    container_name: grosly-postgres
    restart: unless-stopped
    ports:
      - '5432:5432'
    environment:
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: postgres
      POSTGRES_DB: grosly
    volumes:
      - pgdata:/var/lib/postgresql

volumes:
  pgdata:
