#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'grosly'
org = 'grosly'
primary_region = 'fra'

[build]

[deploy]
  release_command = "pnpm run migration:run"

[env]
  NODE_ENV = 'production'
  PORT = '3000'

[http_service]
  internal_port = 3000
  force_https = true
  auto_stop_machines = 'off'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

  [[http_service.checks]]
    interval = '30s'
    timeout = '10s'
    grace_period = '30s'
    method = 'GET'
    path = '/health'

[[vm]]
  memory = '4gb'
  cpus = 4